# Bỏ qua thư mục cache của Python
__pycache__/

# Bỏ qua các file data (RẤT QUAN TRỌNG)
*.csv
*.xlsx

# Bỏ qua các thư mục môi trường ảo (nếu bạn dùng)
venv/
.env/

# Bỏ qua các file hệ thống của VSCode (nếu có)
.vscode/